<!-- Input box -->
<div class="centered-rectangle">
  <div class="click-area" (click)="onClick($event)">
    <p *ngIf="vertices.length == 0">Click anywhere inside this area</p>
    <!-- <div *ngIf="minCost" class="cost-display">
      Optimal Tour Cost: {{ minCost | number : "1.2-2" }}
    </div> -->
  </div>
  <div class="button-row">
    <button class="clear" (click)="onClear()">Clear</button>
    <button class="calculate" (click)="onCalculate()">Calculate</button>
  </div>
</div>

<!-- Vertices -->
<div
  *ngFor="let vertex of vertices; let i = index"
  class="circle"
  [ngClass]="{ 'first-vertex': i === 0 }"
  [ngStyle]="{ left: vertex.x + 'px', top: vertex.y + 'px' }"
  (click)="removeVertex(i, $event)"
></div>

<!-- SVG for drawing path -->
<svg class="path-svg">
  <line
    *ngFor="let line of getPathLines()"
    [attr.x1]="line.x1"
    [attr.y1]="line.y1"
    [attr.x2]="line.x2"
    [attr.y2]="line.y2"
    stroke="blue"
    stroke-width="2"
  />
</svg>
