<!-- Input box -->
<div class="centered-container">
  <div class="centered-rectangle">
    <div
      class="click-area"
      [ngClass]="{
        'disabled-area': isCalculating,
        'enabled-area': !isCalculating
      }"
      (click)="onClick($event)"
      (mousemove)="onMouseMove($event)"
      (mouseleave)="hidePreviewVertex()"
    >
      <p *ngIf="vertices.length == 0">
        Click anywhere inside this area to place vertices
      </p>
      <p *ngIf="vertices.length == 0">Click on a vertex to remove it</p>

      <!-- <div *ngIf="minCost" class="cost-display"> works?
      Optimal Tour Cost: {{ minCost | number : "1.2-2" }}
    </div> -->
    </div>
  </div>
  <div class="button-row">
    <button class="clear" [disabled]="isCalculating" (click)="onClear()">
      Clear
    </button>
    <button
      class="calculate"
      [disabled]="isCalculating"
      (click)="onCalculate()"
    >
      Calculate
    </button>
  </div>
</div>

<div
  *ngIf="showPreviewVertex"
  class="preview-vertex"
  [ngStyle]="{ left: previewVertex.x + 'px', top: previewVertex.y + 'px' }"
></div>

<!-- Vertices -->
<div
  *ngFor="let vertex of vertices; let i = index"
  class="circle"
  [ngClass]="{ 'first-vertex': i === 0 }"
  [ngStyle]="{ left: vertex.x + 'px', top: vertex.y + 'px' }"
  (click)="removeVertex(i, $event)"
></div>

<!-- SVG for drawing path -->
<svg class="path-svg">
  <line
    *ngFor="let line of lines; let i = index"
    [attr.x1]="line.x1"
    [attr.y1]="line.y1"
    [attr.x2]="line.x2"
    [attr.y2]="line.y2"
    stroke="blue"
    stroke-width="2"
    [ngClass]="'animate-path'"
  />
</svg>
