<div class="centered-rectangle">
  <div class="click-area" (click)="onClick($event)">
    <p>Click anywhere inside this area</p>
    <div *ngIf="lastClickPosition" class="coordinates">
      Last click position: X = {{ lastClickPosition.x }}, Y =
      {{ lastClickPosition.y }}
    </div>
  </div>
  <button class="calculate" (click)="onCalculate()">Calculate</button>
</div>

<div
  *ngFor="let vertex of vertices; let i = index"
  class="circle"
  [ngStyle]="{ left: vertex.x + 'px', top: vertex.y + 'px' }"
  (click)="removeVertex(i, $event)"
></div>
